<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HackaWacka
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">HackaWacka</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <div style="width:90%">
      <ion-input class="ion-no-padding" value="{{ShowDataRotina()}}" readonly></ion-input>
    </div>
  </ion-item>

  <ion-card class="cardControle">
    <h1>Controle das Simulações</h1>
    <ion-grid>
      <ion-row>
        <ion-col style="display: inline-grid;">
          <div class="tooltip">
            <ion-label>Modo Manual <ion-icon name="help-circle"></ion-icon></ion-label>
            <span class="tooltiptext">Permite o encarregado habilitar os bloqueios manualmente</span>
          </div>
          <ion-toggle [(ngModel)]="modoManual"></ion-toggle>
        </ion-col>
        <ion-col style="display: inline-grid;">
          <div class="tooltip">
            <ion-label>Sem trem <ion-icon name="help-circle"></ion-icon></ion-label>
            <span class="tooltiptext">Indica se há trem no circuito</span>
          </div>
          <ion-toggle [(ngModel)]="noTrem"></ion-toggle>
        </ion-col>
        <ion-col>
          <ion-button color="primary" (click)="tremNaPlataforma()">Trem nas plat.</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="auto" style="display: inline-grid;">
          <div class="tooltip">
            <ion-label>Coef. Bloqueio <ion-icon name="help-circle"></ion-icon></ion-label>
            <span class="tooltiptext">Taxa de entrada de passagem</span>
          </div>
          <ion-input type="number" [(ngModel)]="coefPassageiro" min="1" max="8"></ion-input>
        </ion-col>
        <ion-col size="auto" style="display: inline-grid;">
          <div class="tooltip">
            <ion-label>Intervalo entre ciclos <ion-icon name="help-circle"></ion-icon></ion-label>
            <span class="tooltiptext">Intervalo de cada amostragem</span>
          </div>
          <ion-input type="number" [(ngModel)]="tempoIntervalo" min="1" max="10"></ion-input>
        </ion-col>
        <ion-col size="auto" style="display: inline-grid;">
          <div class="tooltip">
            <ion-label>Headway em ciclos <ion-icon name="help-circle"></ion-icon></ion-label>
            <span class="tooltiptext">Intervalo entre os trens na plataforma</span>
          </div>
          <ion-input size="auto" type="number" [(ngModel)]="headwayPlataforma" min="1" max="30"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>



  <h1>Linha de Bloqueios</h1>


  <ion-grid>
    <ion-row *ngFor="let LinhaBloqueio of Plataformas">
      <div *ngIf="LinhaBloqueio.LinhaBloqueio.length > 0">
        <ion-row>
          <h3>Plataforma {{LinhaBloqueio.Nome}}</h3>
        </ion-row>
        <ion-row class="">
          <ion-col size="auto" class="ion-text-center" *ngFor="let item of LinhaBloqueio.LinhaBloqueio, let i = index">

            <div class="colBloqueio">
              <ion-label class="labelBloqueio">N. {{item.Numero}}</ion-label>
              <ion-img class="BloqueioImg" src="/assets/bloqueio.png" (click)="toggleBloqueio(LinhaBloqueio, i)">
              </ion-img>
              <div style="width:80px" class="labelBloqueio status{{setCondicaoBloqueio(item.Condicao)}}">
                <ion-input class="ion-no-padding" value="{{setCondicaoBloqueio(item.Condicao)}}" readonly></ion-input>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-row>
  </ion-grid>

  <br>
  <div class="tooltip">
    <h3>Setas de indicação<ion-icon name="help-circle"></ion-icon></h3>
    <span class="tooltiptext">Indicam o sentido onde há menos aglomeração na plataforma</span>
  </div>
  <ion-row *ngFor="let item of Plataformas">
    <ion-col size="auto" style="display: inline-grid;">
      <ion-icon class="iconArrow statusArrow{{setCondicaoArrowNorte(item)}}" name="arrow-back-circle-outline">
      </ion-icon>
      <ion-label>Lado Norte</ion-label>
    </ion-col>
    <ion-col size="auto" class="ion-text-center" style="display: inline-grid;">
      <ion-icon class="iconArrow statusArrow{{setCondicaoArrowSul(item)}}" name="arrow-forward-circle-outline">
      </ion-icon>
      <ion-label>Lado Sul</ion-label>
    </ion-col>
  </ion-row>

  <br>
  <h3>Taxa de Ocupação</h3>

  <ion-grid>
    <ion-row *ngFor="let item of Plataformas" style="display: inline;">
      <ion-label><strong>Plataforma</strong></ion-label>
      <br>

      <!-- <span>Lado Norte: {{setPercentual(item.ContagemNorte)}}% </span> -->
      <ion-grid>
        <ion-row size="auto" style="display: flex;">
          <span>Lado Norte: </span>
          <div style="width:60px">
            <ion-input class="ion-no-padding" value="{{setPercentual(item.ContagemNorte)}}" readonly></ion-input>
          </div>
        </ion-row>
      </ion-grid>
      <ion-progress-bar color="{{setCondicaoProgressBar(item.ContagemNorte)}}" value="{{item.ContagemNorte}}"
        buffer=".9"></ion-progress-bar>


      <!-- <span>Lado Sul: {{setPercentual(item.ContagemSul)}}% </span> -->
      <ion-grid>
        <ion-row size="auto" style="display: flex;">
          <span>Lado Norte: </span>
          <div style="width:60px">
            <ion-input class="ion-no-padding" value="{{setPercentual(item.ContagemSul)}}" readonly></ion-input>
          </div>
        </ion-row>
      </ion-grid>
      <ion-progress-bar color="{{setCondicaoProgressBar(item.ContagemSul)}}" value="{{item.ContagemSul}}" buffer=".9">
      </ion-progress-bar>

    </ion-row>
  </ion-grid>

</ion-content>
