<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HackaWacka
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">HackaWacka</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-datetime displayFormat="D MMM YYYY H:mm" min="1997" max="2010"></ion-datetime>
  </ion-item>

  <h1>Linha de Bloqueios</h1>

  <ion-grid>
    <ion-row *ngFor="let LinhaBloqueio of Plataformas">
      <div *ngIf="LinhaBloqueio.LinhaBloqueio">
        <ion-row>
          <h3>Plataforma {{LinhaBloqueio.Nome}}</h3>
        </ion-row>
        <ion-row class="">
          <ion-col size="auto" class="ion-text-center" *ngFor="let item of LinhaBloqueio.LinhaBloqueio">

            <div class="colBloqueio">
              <ion-label class="labelBloqueio">N. {{item.Numero}}</ion-label>
              <ion-img class="BloqueioImg" src="/assets/bloqueio.png"></ion-img>
              <ion-label class="labelBloqueio status{{setCondicao(item.Condicao)}}">{{setCondicao(item.Condicao)}}
              </ion-label>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-row>
  </ion-grid>

  <br>
  <h3>Taxa de Ocupação</h3>

  <ion-grid>
    <ion-row *ngFor="let item of Plataformas" style="display: inline;">
      <ion-label><strong>Plataforma {{item.Nome}}</strong></ion-label>
      <br>
      <div>
        <ion-label>Lado norte: {{setPercentual(item.ContagemNorte)}}% </ion-label>
        <ion-progress-bar color="secondary" value="{{item.ContagemNorte}}" buffer=".9"></ion-progress-bar>
        <ion-label>Lado sul: {{setPercentual(item.ContagemSul)}}%</ion-label>
        <ion-progress-bar color="secondary" value="{{item.ContagemSul}}" buffer=".9"></ion-progress-bar>
      </div>
      <br>
    </ion-row>
  </ion-grid>

</ion-content>
