#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.colBloqueio{
  width:100px;
  text-align: center;
}

.BloqueioImg{
  height:100px;
  width: 100px;
  margin: 5px;
  cursor: pointer;
}

.cardControle{
  padding: 0px 10px;
}

.labelBloqueio{  
  width: 100px;
  text-align: center;

  padding: 3px 5px;
  margin: 5px 0px;
}

.statusLigado{
  background-color: green;
}

.statusDesligado{
  background-color: red;
}

.statusArrowLigado{
  color: green;
}

.statusArrowDesligado{
  color: red;
}

.iconArrow{
  font-size: 80px;
  text-align: center;
}

ion-row {
  position: relative;
}

ion-progress-bar{
  margin: 5px;
}