<ion-header>
  <ion-toolbar>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button [routerLink]="['../']">Inicio</ion-button>
  <br><br>

  <ion-item >
      <img src="assets/logo.png" style="width: 500px; margin:30px auto;" />

  </ion-item>

  <ion-item>
    <ion-label style="text-align:center; font-size: 30px;">Integrantes</ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar>
      <img src="assets/Integrantes/Dalmo.png" />
    </ion-avatar>
    <ion-label>Dalmo Silveira</ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar>
      <img src="assets/Integrantes/Fernanda.jpeg" />
    </ion-avatar>
    <ion-label>Fernanda Papassoni</ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar>
      <img src="assets/Integrantes/Gustavo.jpeg" />
    </ion-avatar>
    <ion-label>Gustavo Azevedo</ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar>
      <img src="assets/Integrantes/Leonardo.jpeg" />
    </ion-avatar>
    <ion-label>Leonardo Aparecido</ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar>
      <img src="assets/Integrantes/Nailton.jpeg" />
    </ion-avatar>
    <ion-label>Nailton Gonçalves</ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar>
      <img src="assets/Integrantes/Simone.jpeg" />
    </ion-avatar>
    <ion-label>Simone Martins</ion-label>
  </ion-item>

</ion-content>
